@if (!CategoryData) {
<div class="h-full grid justify-center items-center">

    <div>
        <div role="status" class="flex items-center justify-center">

            <svg aria-hidden="true" class="inline w-10 h-10 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="currentColor" />
                <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentFill" />
            </svg>
            <span class="sr-only">Loading...</span>
        </div>
    </div>


</div>
}
@else {
<h1 class=" font-sans text-3xl font-semibold leading-tight tracking-normal  antialiased">Main Category</h1>
<div class="flex flex-wrap">
    @for (category of CategoryData; track $index) {
    <div
        class="relative group w-96 h-96 overflow-hidden bg-black m-auto mt-20 rounded-md hover:scale-105 card-animation transition-all">

        <img class="object-cover w-full h-full transform duration-700 backdrop-opacity-100"
            [src]="(category.name =='Properties')?'../../assets/propertiesimage.jpg':(category.name =='Mobile & tablets')?'../../assets/mobiletable.jpg':(category.name =='Vehicles')?'../../assets/Maintain-the-value-of-your-vehicle-scaled.jpg':''" />
        <!-- src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?auto=format&fit=crop&w=1650&q=80" -->
        <div
            class="absolute w-full h-full shadow-2xl opacity-20 transform duration-500 inset-y-full group-hover:-inset-y-0">
        </div>
        <div
            class="absolute bg-gradient-to-t from-black w-full h-full transform duration-500 inset-y-3/4 group-hover:-inset-y-0">
            <div class="absolute w-full flex place-content-center">
                <p class="capitalize font-serif font-bold text-3xl text-center shadow-2xl text-white mt-10">
                    {{category.name}}</p>
            </div>
            <div class="absolute w-full flex place-content-center mt-20">
                <p class="font-sans text-center w-4/5 text-white mt-5">{{category.createdAt | date}}</p>
            </div>
            <button (click)="details(category._id)"
                class="absolute left-1/4 bottom-4 bg-white text-black font-bold rounded-lg h-10 w-48 transform-gpu transition-all hover:bg-slate-600 hover:text-white hover:animate-pulse">Detials</button>
        </div>
    </div>
    }
</div>

@if (SubCategoryOfCategory) {

@if (SubCategoryOfCategory[0]) {
<h1 class=" font-sans text-3xl font-semibold leading-tight tracking-normal  antialiased mt-3">sub Category</h1>
}
<div class="flex flex-wrap gap-3 mt-10">
    @for (sub of SubCategoryOfCategory; track $index) {
    <div class="h-32 w-64 relative cursor-pointer mb-5 ">
        <div class="absolute inset-0 bg-black  opacity-25 rounded-lg shadow-2xl">
        </div>
        <div class="absolute inset-0 transform  hover:-translate-y-8 transition duration-300">
            <div class="h-full w-full bg-gray-500 rounded-lg shadow-2xl text-2xl justify-center items-center flex"
                (click)="navigate(sub._id)">
                <app-sub-cate-card [data]="sub.name"></app-sub-cate-card>
            </div>
        </div>
    </div>
    }
</div>


}

<!-- <div class="">

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">

        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 border">

            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">

                <tr>
                    <th scope="col" class="px-6 py-3">
                        name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Id
                    </th>


                </tr>

            </thead>

            <tbody>

                @for (category of CategoryData; track $index) {
                <tr class="border">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{category.name}}
                    </th>
                    <td class="px-6 py-4">
                        {{category._id}}
                    </td>

                </tr>
                }

            </tbody>

        </table>

    </div>

</div> -->

}