<div class="p-4">
    <div class="flex justify-center">
        number of users
        <p> {{usersNum}}</p>
    </div>
    <div class="flex justify-center">
        number of category
        <p> {{CategoryNum}}</p>
    </div>
    <div class="flex justify-center">
        number of subcategory
        <p> {{subCategoryNum}}</p>
    </div>
    <div class="flex justify-center">
        number of products
        <p> {{productsNum }}</p>
    </div>
    <div>
        <charts-component></charts-component>
    </div>
</div>