@if (!users) {
<div class="h-full grid justify-center items-center">

    <div>
        <div role="status" class="flex items-center justify-center">

            <svg aria-hidden="true" class="inline w-10 h-10 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="currentColor" />
                <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentFill" />
            </svg>
            <span class="sr-only">Loading...</span>
        </div>
    </div>


</div>
<div class="flex items-center justify-center w-full h-fit text-gray-900 dark:text-gray-100 dark:bg-gray-950">
    <div>
        <h1 class="text-xl md:text-3xl font-bold flex items-center">L<svg stroke="currentColor" fill="currentColor"
                stroke-width="0" viewBox="0 0 24 24" class="animate-spin" height="1em" width="1em"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM13.6695 15.9999H10.3295L8.95053 17.8969L9.5044 19.6031C10.2897 19.8607 11.1286 20 12 20C12.8714 20 13.7103 19.8607 14.4956 19.6031L15.0485 17.8969L13.6695 15.9999ZM5.29354 10.8719L4.00222 11.8095L4 12C4 13.7297 4.54894 15.3312 5.4821 16.6397L7.39254 16.6399L8.71453 14.8199L7.68654 11.6499L5.29354 10.8719ZM18.7055 10.8719L16.3125 11.6499L15.2845 14.8199L16.6065 16.6399L18.5179 16.6397C19.4511 15.3312 20 13.7297 20 12L19.997 11.81L18.7055 10.8719ZM12 9.536L9.656 11.238L10.552 14H13.447L14.343 11.238L12 9.536ZM14.2914 4.33299L12.9995 5.27293V7.78993L15.6935 9.74693L17.9325 9.01993L18.4867 7.3168C17.467 5.90685 15.9988 4.84254 14.2914 4.33299ZM9.70757 4.33329C8.00021 4.84307 6.53216 5.90762 5.51261 7.31778L6.06653 9.01993L8.30554 9.74693L10.9995 7.78993V5.27293L9.70757 4.33329Z">
                </path>
            </svg> ading . . .</h1>
    </div>
</div>
}
@else {
<!-- search -->
<div class="mb-5 flex w-full gap-4  pe-4">
    <div class="w-full ">
        <div
            class="flex items-center p-3  bg-white rounded-xl shadow-md hover:shadow-xl transform  transition duration-500">
            <div class="flex bg-gray-100 p-2 w-full  rounded-lg ">
                <input class="bg-gray-100 border-none w-full" type="text" placeholder="Search by User Name ...." />
            </div>

            <button (click)="Search($event)"
                class="bg-gray-800 py-3 px-2 justify-between text-white flex flex-row font-semibold rounded-lg hover:shadow-lg transition duration-3000 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mx-2 opacity-75 hover:opacity-100 " fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
            </button>
        </div>
    </div>
    <div class="grid items-center min-w-28 align-middle">
        <button (click)="SearchUser= users"
            class="p-3 bg-gray-800 text-white rounded-md hover:text-sky-400 hover:scale-105 ">
            All Users
        </button>
    </div>
</div>
<div class="">

    <!-- <div class="relative overflow-x-auto shadow-md fs-4  sm:rounded-lg"> -->
    <!-- <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 border"> -->
    <table class="w-full fs-5 border-separate table-auto">
        <thead class="bg-gray-100 rounded-sm">
            <tr class="">
                <th class="text-left">Avatar</th>
                <th class="text-left">User Name</th>
                <th class="text-left">Email</th>
                <th class="text-left">Phone</th>
                <th class="text-left">Status</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- @for (user of users; track $index) {
                <tr class="border">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{user.profile.name}}
                    </th>
                    <td class="px-6 py-4">
                        {{user.email}}
                    </td>
                    <td class="px-6 py-4 grid grid-flow-col gap-1">
                        <button (click)="onClickDelete(user._id)"
                            class="middle none center mr-4 rounded-lg bg-red-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-red-500/20 transition-all hover:shadow-lg hover:shadow-red-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                            data-ripple-light="true"> delete
                        </button>
                        <button
                            class="middle none center mr-4 rounded-lg bg-green-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-500/20 transition-all hover:shadow-lg hover:shadow-green-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                            data-ripple-light="true" (click)="onClickDetails(user._id)">
                            details
                        </button>
                        <button (click)="onClickUpdate(user._id)"
                            class="middle none center rounded-lg hidden bg-orange-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-orange-500/20 transition-all hover:shadow-lg hover:shadow-orange-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                            data-ripple-light="true">
                            update
                        </button>
                    </td>
                </tr>
                } -->
            @for (user of SearchUser; track $index) {
            <tr>
                <td class="">
                    @if (user.profile.avatar) {
                    <img class="inline-block h-8 w-8 rounded-full ring-2 ring-white" [src]="user.profile.avatar"
                        alt="avatar image">
                    }@else {

                    <div class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                        <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                                clip-rule="evenodd">
                            </path>
                        </svg>
                    </div>
                    }
                </td>
                <td> {{user.profile.name}}</td>
                <td class="text-wrap"> {{user.email}}</td>
                <td>
                    @if (user.phoneNumber) {
                    {{user.phoneNumber}}
                    }
                    @else {
                    <p class="text-red-400">No Phone Number</p>
                    }
                </td>
                <td>
                    @if (user.refreshToken =='logged out') {
                    <p class="bg-red-50 text-red-700 px-3 py-1 ring-1 ring-red-200 text-xs rounded-md">log out</p>
                    }
                    @else {
                    <p class="bg-green-50 text-green-700 px-3 py-1 ring-1 ring-green-200 text-xs rounded-md">active
                    </p>
                    }
                </td>

                <td>
                    <div class="flex justify-evenly gap-1">
                        <i (click)="onClickDetails(user._id)" title="View"
                            class="fa-solid fa-eye p-1 text-violet-500 rounded-full cursor-pointer"></i>
                        <i (click)="onClickDelete(user._id)" title="Delete"
                            class="fa-solid fa-trash p-1 text-red-500 rounded-full cursor-pointer"></i>
                    </div>
                </td>
            </tr>
            <!-- <tr class="border">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{user.profile.name}}
                    </th>
                    <td class="px-6 py-4">
                        {{user.email}}
                    </td>
                    <td class="px-6 py-4 grid grid-flow-col gap-1">
                        <button (click)="onClickDelete(user._id)"
                            class="middle none center mr-4 rounded-lg bg-red-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-red-500/20 transition-all hover:shadow-lg hover:shadow-red-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                            data-ripple-light="true"> delete
                        </button>
                        <button
                            class="middle none center mr-4 rounded-lg bg-green-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-500/20 transition-all hover:shadow-lg hover:shadow-green-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                            data-ripple-light="true" (click)="onClickDetails(user._id)">
                            details
                        </button>
                        <button (click)="onClickUpdate(user._id)"
                            class="middle none center rounded-lg hidden bg-orange-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-orange-500/20 transition-all hover:shadow-lg hover:shadow-orange-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                            data-ripple-light="true">
                            update
                        </button>
                    </td>
                </tr> -->
            }
        </tbody>

    </table>

    <!-- </div> -->

</div>

}